@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@font-face {
    font-family: "Roboto", sans-serif;
    src: url(../projetopessoal/font/tattoo_ink/TATTI___.TTF) format('truetype');
    font-size: normal;
}

:root {
    --cor0: #E72065;
    --cor1: #282A2C;
    --cor2: #9FA4A8;
    --cor3: #717679;
    --cor4: #C8CDD0;
    --cor5: #1A2023;
    --cor6: #222220;

    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Roboto", sans-serif;

}

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    }

div > video  {

    background-color: rgba(245, 222, 179, 0);
    margin: 0 -20px 30px -20px;
    padding: 20px;
    position: relative;
    top: 5%;
    left: 5%;
    position: relative;
    }


html, body {
    min-height: 100dvh;
    background-color: var(--cor3);
    font-family: var(--fonte1);
}

header {
    background-color: var(--cor0);
    color: black;
    text-align: center;
    padding: 5px;
    
}

header > h1 {
    padding: 10px;
    font-family: var(--fonte2);
    font-variant: small-caps;
    font-size: 3em;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.178);
}

    header > p {
        font-family: var(--fonte1);
        font-size: 1.2em;
        max-width: 800px;
        padding-right: 10px;
        padding-left: 10px;
        margin: auto;
        padding-bottom: 50px;
        text-shadow: rgba(18, 6, 20, 0.486);
        background-color: var(--cor0);
        padding: 10px;
    }

     

    

    section {
        padding-top: 10vh;
        padding-bottom: 10vh;
        line-height: 2em;
        padding-left: 30px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 2.5vw;
    }


    section > h2 {
        padding: 5px;
        font-variant: small-caps;
        font-family: var(--fonte1);
        color: aliceblue;

    }


    section > p {
        padding-bottom: 2em;
    }
     
    section.normal {
        background-color: var(--cor5);
        color: var(--cor0);
    }

    section.imagem {
        background-color: var(--cor3);
        box-shadow: inset 6px 6px 13px 0 rgba(0, 0, 0, 0.24);
        background-size: cover;
        background-attachment: fixed;
    }

    section.imagem > p {
        display: inline-block;
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.116);
    }

    section#img01 {
        background-image: url(imagem/img2.jpeg);
        background-position: right center;
    }

    section#img02 {
        background-image: url(imagem/img1.jpeg);
    }

    section#img03 {
        background-image: url(imagem/img3.jpeg);
    }

    div > blockquote {
    background-color: var(--cor);
    margin: 0 -20px 30px -20px;
    padding: 20px;
    padding-bottom: 57%;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

    }

    footer {
        background-color: black;
        color: white;
        text-align: center;
        padding: 10px;
    }


